body {
  min-width: 320px;
  overflow-x: hidden;

  color: $body-color;
  font-size: $font-size-base;
  font-family: 'Open Sans', $font-family-sans-serif;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;

  background-color: $body-bg;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Change the default tap highlight in iOS
  -webkit-tap-highlight-color: $black-900-a40;
}

.hidden {
  display: none;
}

// (:hover, :focus, :active).
// https://codepen.io/yurch-html/pen/qyaOZz
.link {
  color: $white;
  text-decoration: $link-decoration;

  transition: $link-transition;

  &:link {
  }

  &:visited {
  }

  &:hover {
    color: $link-hover-color;
  }

  &:active {
    color: $link-active-color;
  }
}

::selection {
  color: #ffffff;

  background-color: #004fe4;
}

.container {
  max-width: 1170px;

  // mobile viewport bug fix
  height: -webkit-fill-available;
  margin: 0 auto;

  @media only screen and (max-width: 1200px) {
    max-width: 970px;
  }
  @media only screen and (max-width: 992px) {
    max-width: 750px;
  }
  @media only screen and (max-width: 768px) {
    max-width: 540px;
    padding: 0 15px;
  }
  @media only screen and (max-width: 480px) {
    max-width: none;
    padding: 0 5px;
  }
}
