// ----------- Open Sans -----------
@font-face {
  font-weight: map_get($font-weight-system, 'normal');
  font-family: 'Open Sans';
  font-style: normal;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/OpenSans/opensans.woff2') format('woff2'),
    url('../fonts/OpenSans/opensans.woff') format('woff'), url('../fonts/OpenSans/opensans.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: map_get($font-weight-system, 'normal');
  font-family: 'Open Sans';
  font-style: italic;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
    url('../fonts/OpenSans/opensansitalic.woff2') format('woff2'),
    url('../fonts/OpenSans/opensansitalic.woff') format('woff'),
    url('../fonts/OpenSans/opensansitalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: map_get($font-weight-system, 'bold');
  font-family: 'Open Sans';
  font-style: normal;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/OpenSans/opensansbold.woff2') format('woff2'),
    url('../fonts/OpenSans/opensansbold.woff') format('woff'),
    url('../fonts/OpenSans/opensansbold.ttf') format('truetype');
  font-display: swap;
}
